.container {
  background-color: #1C1D1F;
  color: #D2D5DA;
  font-family: 'Be_Vietnam_Pro'; 
}
h1,
p {
  margin: 10px 0;
}

th,td {
  background-color: #1C1D1F;
  border: none;
  color: #D2D5DA;
  padding: 20px;
}
.lang {
  width: 10%;
}
.table {
  border-color: #282B30;
}
main.row {
  @media (max-width: 768px) {
    flex-wrap: wrap; // Allow elements to wrap on smaller screens
  }

  .box {
    margin: 1rem 0; // Add some margin for spacing on smaller screens
    width: 100%;
    background-color: #282B30; // Make boxes full width on smaller screens

    @media (max-width: 576px) {
      span {
        font-size: 0.7rem; // Adjust font size for very small screens
      }
     
    }
  }
}
