.container {
  background-color: #1C1D1F;
  color: #D2D5DA;
  font-family: 'Be_Vietnam_Pro'; 
}
h1,
p {
  margin: 10px 0;
}

th,td {
  background-color: #1C1D1F;
  border: none;
  color: #D2D5DA;
  padding: 20px;
}
.lang {
  width: 10%;
}
.table {
  border-color: #282B30;
}
.box {
  background-color: #282B30;
  padding: 5px;
}
