// Base styles (consider creating a separate _base.scss file)

$primary-color: #1B1D1F;
$secondary-color: #282B30;
$text-color: #6C727F;
$font-family: 'Be_Vietnam_Pro';
$base-font-size: 16px;

body {
  background-color: $primary-color;
  margin: 0;
  font-family: $font-family;
  font-size: $base-font-size;
}


// Container and Search

.container {
  color: $text-color;
  padding: 1rem;

  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .table th,
  .table td {
    font-size: 0.8rem; // Adjust font size as desired
  }
}

.search {
  width: 30%;
  background-color: $secondary-color;
  padding: 7px;

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 10px;
  }
}

// Search box (can be included within .search)
.search-box {
  background-color: $secondary-color;
  outline: none;
  border: none;
}

// Select element

select {
  background-color: #1C1D1F;
  border: 1px solid #6C727F;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  color: #D2D5DA;
  width: 200px;
}

select:focus {
  outline: none;
  border: 1px solid #6C727F;
}

td:first-child {
  width: 100px;
  text-align: center;
}

td:first-child img {
  width: 100%;
  height: auto;
}

// Option element

.select option {
  background-color: inherit;
  color: inherit;
}

// Country body

.country-body {
  display: flex;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

// Country options

.country-options {
  width: 30%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

// Country list

.country-list {
  width: 70%;

  @media (max-width: 768px) {
    width: 100%;
    overflow-x: auto;
  }
}

// Button

.btn {
  color: $text-color;
}

// Checkbox container

.checkbox-container {
  display: flex;
  flex-direction: row;
  gap: 10px;

  @media (max-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.checkbox-container input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  margin-right: 5px;
}

.checkbox-container label {
  cursor: pointer;
}

// Table

.table {
  width: 100%;
}

th,
td {
  padding: 1rem;
  font-size: 20px;
  color: $text-color;
  background-color: $primary-color;
  text-align: left;
  border: none;

  @media (max-width: 320px) {
    font-size: 0.7rem; // Adjust for very small screens
  }
}

th {
  border-bottom: 1px solid $text-color;
  color: $text-color;
}

.region-color {
  background-color: $secondary-color;
}
