@import 'bootstrap/dist/css/bootstrap.css';
@font-face {
  font-family: 'Be_Vietnam_Pro';
  src: url('assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}